html, body {
    width: 100vh;
    margin: 0 auto;
    padding: 0;
    display: grid;
    background-color:blueviolet;
    box-sizing: border-box;

}
header {
    width: 100vh;
    height: 33vh;
    padding: 0;
    margin:0;
   display: grid;
    background-color: cadetblue;
    border: black solid 2px
}
div {
    width: 100vh;
    border: black solid 2px;
    background-color: cadetblue;
}
input {
    border-radius: 7px;
}
input:hover {
    background-color: gray;
}